---
apiVersion: batch/v1
kind: Job
metadata:
  name: migrate
spec:
  template:
    metadata:
      labels:
        job-name: migrate
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: "$IMAGEAPP"
          command:
            - ./manage.py
            - migrate
          env:
            - name: POSTGRES_HOST
              value: postgres-rw
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: dbname
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: password
          envFrom:
            - secretRef:
                name: django
  backoffLimit: 4
